<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS_Selectors</title>
  <link rel="stylesheet" href="../../CSS/main.css">
  <link rel="stylesheet" href="./pseudo_elements.css">
</head>
<body>
  <div class="container">
    <h2 class="chapter_header">Псевдоэлементы в CSS</h2>
    <p class="chapter_description"> псевдоэлементы - элементы которых не существует в DOM дереве</p>
    <ol>
      <li class="chapter_element_item">
        <p>
          Текстовые псевдоэлементы - стилизация первой буквы текста ::first-letter
          <p></p>
          <pre>
            .my_class1::first-letter {
              font-size: 28px;
              color: blue;
            }
          </pre>
        </p>
        <p class="my_class1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        <p class="my_class2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
      </li>


    </ol>
  </div>
</body>
</html>
